body {
    background: #f9a113;
}

main {
    max-width: 50%;
    margin: auto;
}

h1 {
    color: #9614e1;
    text-align: center;
    font-size: 36px;
    font-family: "Goudy Bookletter 1911";
    font-weight: normal;
    font-style: bolder;
}

dt{ 
    text-indent: center;
    font-weight: bolder;
}

dl { 
    font-size: 20px;
    max-width: 100%;
}

label {
    color: #9614e1;
    font-size: 20px;
    text-align: center;
    font-family: "Goudy Bookletter 1911";
    font-weight: bolder;
}

p {
    color: #9614e1;
    font-size: 18px;
    font-family: "Goudy Bookletter 1911";
    font-weight: normal;
    margin-bottom: 20px;
}

form { 
    text-align: center;
    margin: auto;
}

a:link {
    color: #9614e1;
    font-weight: bolder;
}

a:hover {
    color: #eb1515;
}

button {
    font-family: "Goudy Bookletter 1911";
    font-size: 17px;
    background-color: #9614e1;
    border-radius: 10px;
    color: orange;
    padding: 7px 7px;
    text-align: center;
    display: inline; 
    cursor: auto;
}

button:hover {
    background-color: whitesmoke;
    color: #9614e1;
}

.footer { 
    text-align: center;
    font-weight: lighter;
    font-style: italic;
}

.error { 
    visibility: hidden;
    color: #eb1515;
}



